extends ./layout

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method='POST' action='/inscripciones' noValidate)
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="estudiante_id") Estudiante
                        select#estudiante_id.w-full.px-3.py-2.border.border-gray-300.rounded-md(name="estudiante_id")
                            each estudiante in estudiantes
                                option(value=estudiante.id)= `${estudiante.nombre} ${estudiante.apellido}`

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="curso_id") Curso
                        select#curso_id.w-full.px-3.py-2.border.border-gray-300.rounded-md(name="curso_id")
                            each curso in cursos
                                option(value=curso.id)= curso.nombre
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="profesor_id") Profesor
                        select#profesor_id.w-full.px-3.py-2.border.border-gray-300.rounded-md(name="profesor_id")
                            each profesor in profesores
                                option(value=profesor.id)= `${profesor.nombre} ${profesor.apellido}`
                    div
                         label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nota") Nota
                         input#nota.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nota" type="number" name="nota" min="0" max="10")

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Registrar Inscripción")

block scripts